extends index

block content
  div.other
   h1.logo Course Success
   .alert.alert-success(role='alert')
    | #{student} has been successfully added to #{course}! 
    br
    a.alert-link(href='/') Add another.
