extends index

block content
  div#extra-pages
   .alert.alert-success(role='alert')
    | #{student} has been successfully added to #{course}! 
    br
   div.a-other
    a(href='/') Add another Student
    form(action='/course', method='post')
      button.btn-link(type='submit', name='search', value=course) View Students in Course: #{course} 
