extends layout

block content
  div.card2
   div.card
    div#title2
     p.title Add Student
    form(method='POST', action='/').form-center
      .form-group
        label Student ID
        input.form-control(name='name',type='text', aria-describedby='emailHelp', placeholder='Enter SID')
      .form-group
        label Class ID
        input.form-control(name='class',type='text', placeholder='Enter class ID')
      button.btn.btn-primary(type='submit' value='submit') Add


