extends layout

block content
  div.card2
   div.card
    div#title2
     p.title Add Student
    form(method='POST', action='/').form-center
      .form-group
        label Student ID
        input.form-control(name='name',type='number', aria-describedby='emailHelp', placeholder='Enter SID',required="true")
      .form-group
        label Class ID
        input.form-control(name='class',type='number', placeholder='Enter class ID', required="true")
      button.btn.btn-primary(type='submit' value='submit') Add


