doctype html
head
  title Course Success
  link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='styles/styles.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') Course Success
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      //li.nav-item
        a.nav-link(href='#') Link
    form.form-inline.my-2.my-lg-0(method='POST', action='/course')
      input.form-control.mr-sm-2(name = 'search' type='number' placeholder='Search Course ID' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(name='search',type='submit') Search
.container
 div.other
  h1.logo Course Success
block content
